version: '3.8'

services:
  db:
    image: postgres:15
    container_name: team-invite-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: team_invite
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: team-invite-backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      POSTGRES_URL: postgres://postgres:123456@db:5432/team_invite?sslmode=disable
      ENV_FILE_PATH: /app/.env
    env_file:
      - .env
    volumes:
      - ./.env:/app/.env
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: team-invite-frontend
    depends_on:
      - backend
    ports:
      - "37013:80"

volumes:
  postgres_data: